@tailwind base;

html {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

h1,
h2,
h3,
b,
strong {
  font-weight: bold;
}

body,
nav {
  background: url(background.jpg) repeat;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

a {
  @apply underline;
}

.underline-green {
  text-decoration: underline #3aaa35;
}

@tailwind components;

@tailwind utilities;
